.main {
    width: calc(100% - 215px);
    margin: 40px 0 0 215px;
    transition: 550ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenu {
    width: calc(100% - 60px);
    margin: 40px 0 0 60px;
    transition: 850ms;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
