.main {
    width: calc(100% - 250px);
    margin: 88px 0 0 250px;
    transition: 550ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.mainMenu {
    width: calc(100% - 50px);
    margin: 88px 0 0 50px;
    transition: 850ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        width: calc(100% - 175px);
        background-color: #FBFBFB;
        border-radius: 7px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
    
        p {
            font-size: 20px;
            color: #4C819F;
            margin-left: 15px;
            font-weight: 900;
        }
    }

    button {
        width: 140px;
        background-color: #4C819F;
        color: #FDFEFF;
        border: 0;
        display: flex;
        align-items: center;
        padding: 8px 15px;
        border-radius: 7px;
        cursor: pointer;

        p {
            font-size: 16px;
            margin-left: 15px;
        }
    }
}

.filtro {
    width: 90%;
    padding: 20px;
    background-color: #FBFBFB;
    margin-top: 15px;
    border-radius: 7px;
    color: #5B5B5B;

    .title {
        display: flex;

        p {
            margin-left: 15px;
        }
    }

    .flexFiltro {
        margin-top: 15px;
        width: 100%;
        display: flex;

        div {
            width: 100%;
        }

        input {
            width: 90%;
            height: 24px;
        }

        .flexCheckbox {
            display: flex;
            align-items: center;
            justify-content: left;
            width: 250px;
            height: 24px;
            margin-left: -4px;

            .flex {
                margin-right: 10px;

                input {
                    height: 20px;
                }

                p {
                    margin: 0 20px 0 10px;
                }
            }
        }

        .input {
            width: 90%;
            display: flex;
            justify-content: space-between;

            input {
                width: 48%;
            }
        }

        .flexButtons {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .buttonClean {
                width: 110px;
                border: 1px solid #4C819F;
                background-color: #fff;
                color: #5B5B5B;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 10px;
                border-radius: 7px;
                cursor: pointer;
                font-size: 16px;
                margin-right: 15px;
            }

            .buttonFiltrar {
                width: 110px;
                background-color: #4C819F;
                color: #fff;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 10px;
                border-radius: 7px;
                cursor: pointer;
                font-size: 16px;
                margin-right: 48px;
            }
        }
    }
}

.imoveis {
    width: 90%;
    padding: 20px;
    background-color: #FBFBFB;
    margin-top: 15px;
    border-radius: 7px;
    color: #5B5B5B;
    margin-bottom: 20px;

    .item {
        display: flex;
        justify-content: space-between;

        .imagem {
            width: 206px;
            height: 162px;
            background-color: #C4C4C4;
            margin-right: 10px;
        }

        .descricao {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(100% - 340px);
        }

        span {
            color: #82B4E1;
        }

        .bold {
            font-weight: 700;
        }

        .text {
            font-size: 14px;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: #5B5B5B;
        margin: 20px 0;
    }
}

.incompatible {
    display: none;
}

@media screen and (max-width: 920px) {
    .main, .mainMenu {
        display: none;
    }

    .incompatible {
        display: block;
        margin: 180px 0 0 160px;
    }

}

