.main {
    width: calc(100% - 215px);
    margin: 100px 0 0 215px;
    transition: 550ms;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.mainMenu {
    width: calc(100% - 60px);
    margin: 100px 0 0 60px;
    transition: 850ms;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.lastsAccess {
    width: 60%;

    .lastAccessProperty {
        width: 100%;
        height: 250px;
        border-radius: 0.3rem;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgba(170,170,170,0.5);
        
        p {
            margin-bottom: 20px;
            color: #333;
            font-size: 1.2rem;
        }
          
        .table {
            width: 100%;
            height: 85%;
            color: #333;
            background-color: red;
            background: repeating-linear-gradient(
                0deg,
                #fff,
                #fff 27px,
                rgba(170,170,170,0.3) 25px,
                rgba(170,170,170,0.3) 57px
            );
       
            .tableTitle {
                display: flex;  

                p {
                    font-size: 0.8rem;
                }

            }

            .code {
                width: 10%;
                text-align: center;
            }

            .name {
                width: 45%;
                text-align: center;
            }

            .address {
                width: 45%;
                text-align: center;
            }

            .rows {
                display: flex;
                cursor: pointer;
                
                p {
                    font-size: 0.8rem;
                    margin-top: -6px;
                }
            }
        }
    }

    
    .lastAccessClients {
        width: 100%;
        height: 250px;
        border-radius: 0.3rem;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        margin: 20px 0;
        border: 1px solid rgba(170,170,170,0.5);

        p {
            margin-bottom: 20px;
            color: #333;
            font-size: 1.2rem;
        }
          
        .table {
            width: 100%;
            height: 85%;
            color: #333;
            background-color: red;
            background: repeating-linear-gradient(
                0deg,
                #fff,
                #fff 27px,
                rgba(170,170,170,0.3) 25px,
                rgba(170,170,170,0.3) 57px
            );
       
            .tableTitle {
                display: flex;  

                p {
                    font-size: 0.8rem;
                }

            }

            .code {
                width: 10%;
                text-align: center;
            }

            .name {
                width: 45%;
                text-align: center;
            }

            .address {
                width: 45%;
                text-align: center;
            }

            .rows {
                display: flex;
                cursor: pointer;
                
                p {
                    font-size: 0.8rem;
                    margin-top: -6px;
                }
            }
        }
        
    }
}

.noticesMural {
    width: 30%;

    .noticesContainer {
        width: 100%;
        height: 250px;
        border-radius: 0.3rem;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgba(170,170,170,0.5);

        .text {
            color: #333;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .notices {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            div {
                width: 80%;
                font-size: 0.8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                border-radius: 1rem;
                
                span {
                    color: #b3404a;
                    cursor: pointer;
                }
            }
        }
    }

    .mural {
        width: 100%;
        height: 250px;
        border-radius: 0.3rem;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 20px 0;
        text-align: left;
        border: 1px solid rgba(170,170,170,0.5);

        .text {
            color: #333;
            font-size: 1.2rem;
        }
        
        ul {
            width: 100%;
            font-size: 0.8rem;
            margin: 20px 0 0 30px;
            font-size: 0.8rem;
        }

        li {
            margin-bottom: 5px;

            .description {
                display: none;
                position: absolute;
                background-color: #555;
                border-radius: 0.3rem;
                padding: 10px;
                color: #fff;
                max-width: 300px;

                p {
                    text-align: center;
                }

                div {
                    display: flex;
                    justify-content: center;
                    
                    p, span {
                        margin-top: 5px;
                    }

                    p {
                        margin-left: 10px;
                    }
                }
            }

            &:hover .description {
                display: block;
            }
        }
    }

    
}

.incompatible {
    display: none;
}

@media screen and (max-width: 1200px) {
    .main, .mainMenu {
        display: block;
    }

    .lastsAccess {
        width: 95%;
    }

    .noticesMural {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .noticesContainer, .mural {
            width: 45%;
        }
    }

  }

  @media screen and (max-width: 760px) {
      .noticesMural {
          display: block;
          .noticesContainer, .mural {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
      }
  }

  @media screen and (max-width: 620px) {
    .main, .mainMenu {
        display: none;
    }

    .incompatible {
        display: block;
        margin: 180px 0 0 160px;
    }

}

