*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

body, html {
  background-color: #d8e6ed;
  font-size: 20px;
}

.main {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
}