.navbar {
  width: 100vw;
  background-color: #DBFCFF;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #284B63;
  padding: 0 30px;
}

.navbar .menu {
  display: flex;
}

.navbar .user {
  width: 4rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.menu-bars {
  margin-left: -1.2rem;
  font-size: 1.5rem;
  background: none;
  display: flex;
  align-items: center;
}

.title {
  color: #153243;
  font-size: 1.5rem;
  margin-left: 20px;
}

.nav-menu {
  background-color: #DBFCFF;
  width: 50px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  transition: 850ms;
  border-right: 1px solid #284B63;
  overflow: auto;
}

.nav-menu.active {
  width: 220px;
  left: -20px;
  transition: 550ms;
}

.nav-text {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: #153243;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-text a:hover {
  background-color:#fff;
  ;
}

.nav-menu-items {
  width: 100%;
}

.span-menu {
  margin-left: 16px;
}

.span {
  display: none;
}

.icon-menu {
  font-size: 30px;
  margin-left: 27px;
}

.icon {
  font-size: 30px;
  margin-left: 7px;
}
