.navbar {
  width: 100vw;
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid white;
  box-shadow: 0px 3px 13px 1px #333333;
}

.menu-bars {
  margin-left: 0.5rem;
  font-size: 2rem;
  background: none;
  display: flex;
  align-items: center;
}

.menu-bars-close {
  margin-left: 1.4rem;
  font-size: 2rem;
  background: none;
  display: flex;
  align-items: center;
}

.menu-bars-close.active {
  display: none;
}

.title {
  color: #fff;
  font-size: 2rem;
  margin-left: 20px;
}

.nav-menu {
  background-color: #060b26;
  width: 50px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  transition: 850ms;
  border-right: 1px solid #fff;
  overflow: auto;
}

.nav-menu.active {
  width: 220px;
  left: -20px;
  transition: 550ms;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.span-menu {
  margin-left: 16px;
}

.span {
  display: none;
}

.icon-menu {
  font-size: 30px;
  margin-left: 20px;
}

.icon {
  font-size: 30px;
  margin-left: 0px;
}
