.main {
    width: calc(100% - 215px);
    margin: 100px 0 0 215px;
    transition: 550ms;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.mainMenu {
    width: calc(100% - 60px);
    margin: 100px 0 0 60px;
    transition: 850ms;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.clients {
    width: 85%;
    height: 420px;
    border-radius: 0.3rem;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    margin: 20px 0;
    border: 1px solid rgba(170,170,170,0.5);

    p {
        margin-bottom: 20px;
        color: #333;
        font-size: 1.2rem;
        margin-top: 5px;
    }
      
    .table {
        width: 100%;
        height: 78%;
        color: #333;
        background-color: red;
        background: repeating-linear-gradient(
            0deg,
            #fff,
            #fff 27px,
            rgba(170,170,170,0.3) 25px,
            rgba(170,170,170,0.3) 57px
        );
   
        .tableTitle {
            display: flex;  

            p {
                font-size: 0.8rem;
                font-weight: bold;
            }

        }

        .code {
            width: 10%;
            text-align: center;
        }

        .name {
            width: 45%;
            text-align: center;
        }

        .address {
            width: 45%;
            text-align: center;
        }

        .rows {
            display: flex;
            cursor: pointer;

            p {
                font-size: 0.8rem;
                margin-top: -6.6px;
            }

        }
    }

    .button {
        width: 100%;
        text-align: right;
        padding: 10px 40px 0 0;

        button {
            background-color: #999;
            border: 0;
            width: 6rem;
            height: 2rem;
            border-radius: 1rem;
            font-size: 1rem;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
       
            &:hover {
                filter: brightness(0.9);
            }
        }
    }
    
}

.clientesCadastro {

    form {
    width: 60%;
    min-width: 400px;
    height: 420px;
    border-radius: 0.3rem;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(170,170,170,0.5);
    margin: 20px auto;
    text-align: center;

    p {
        font-size: 0.8rem;
        color: #333;
        margin: 0.5rem 0 0.2rem 2.7rem;
        text-align: left;
    }

    input {
        width: 80%;
        height: 2rem;
        border-radius: 1rem;
        outline: 0;
        border: 1px solid #333;
        padding: 0.5rem;
    }

    .buttons{
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;

        button {
            background-color: #999;
            border: 0;
            width: 6rem;
            height: 2rem;
            border-radius: 1rem;
            font-size: 1rem;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
       
            &:hover {
                filter: brightness(0.9);
            }
        }
    }
    }
}

.incompatible {
    display: none;
}

@media screen and (max-width: 620px) {
    .main, .mainMenu {
        display: none;
    }

    .incompatible {
        display: block;
        margin: 180px 0 0 100px;
    }

}